<h1 class="cabinHeader">Vår & Sommer på Jølster</h1>

<md-card class="carouselCard">
  <md-card-content>
    <carousel [interval]="0" class="carousel">
      <slide>
        <img md-card-image src="assets/images/spring/spring1.jpg" alt="Elven">
        <div class="carousel-caption">
          <h3>Elven</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/spring/spring2.jpg" alt="Fiske ved elven">
        <div class="carousel-caption">
          <h3>Fiske ved elven</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/spring/spring3.jpg" alt="Båttur">
        <div class="carousel-caption">
          <h3>Båttur</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/spring/spring4.jpg" alt="Fiske ved elven">
        <div class="carousel-caption">
          <h3>Fiske ved elven</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/spring/spring5.jpg" alt="Fisker" height="370">
        <div class="carousel-caption">
          <h3>Fisker</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/spring/spring6.jpg" alt="God fangst" height="370">
        <div class="carousel-caption">
          <h3>God fangst</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/spring/spring7.jpg" alt="Sløyd fisk">
        <div class="carousel-caption">
          <h3>Sløyd fisk</h3>
        </div>
      </slide>
    </carousel>
  </md-card-content>
</md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Fiske</h3>
      <p>
         Jølstravassdraget er eit eldorado for aurefiske, eit av dei beste i Norge. Hovedvassdraget er 50 km langt og har god plass til alle som vil fiske. Her er aure i halvkilosklassen daglegdags, og kvar einaste sesong vert det teke aure på fleire kilo. Vi sel fiskeutstyr, fiskekort, leiger ut fiskeutstyr og båter i Jølstravatnet.
      </p>
        <p> Treng du litt opplæring i fiske, valg av rett fiskeutstyr eller valg av fiskeplass, vil vi sjølvsagt vise deg.</p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard2">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/spring/spring8.jpg" alt="Lek ved elven">
          <div class="carousel-caption">
            <h3>Lek ved elven</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring9.jpg" alt="Vassing">
          <div class="carousel-caption">
            <h3>Vassing</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring10.jpg" alt="Bading i elven">
          <div class="carousel-caption">
            <h3>Bading i elven</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Bading</h3>
      <p>
        100 m frå Jølvassbu Camping ligg ei flott sandstrand, lett å få seg ein svalande dukkert på varme sommerdagar. Stranda er langgrunn og svært barnevennleg.
      </p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/spring/spring11.jpg" alt="Rafting">
          <div class="carousel-caption">
            <h3>Rafting</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring12.jpg" alt="Rafting">
          <div class="carousel-caption">
            <h3>Rafting</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring13.jpg" alt="Rafting">
          <div class="carousel-caption">
            <h3>Rafting</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring14.jpg" alt="Rafting">
          <div class="carousel-caption">
            <h3>Rafting</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Rafting</h3>
      <p>
        Jølster Rafting tilbyr rafting i Stardalselva og Jølstra. Dei har også tilbud om paintball, rapperlering, elvebrett m.m. Sjå meir informasjon på Jølster Rafting si eiga heimeside: <a target="_blank" href="http://www.jolster-rafting.no/">Jølster Rafting</a>
      </p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/spring/spring15.jpg" alt="Jølstermaraton">
          <div class="carousel-caption">
            <h3>Jølstermaraton</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring16.jpg" alt="Vassing">
          <div class="carousel-caption">
            <h3>Maraton</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Jølstermaraton</h3>
      <p>
        Årvisst maraton rundt Jølstravatnet. Med masse deltakare frå inn- og utland. Påmelding finn du på : <a target="_blank" href="http://www.jolster-maraton.no/">Jølster Maraton</a>
      </p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/spring/spring17.jpg" alt="Klubbhuset">
          <div class="carousel-caption">
            <h3>Klubbhuset</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring18.jpg" alt="Golfbanen">
          <div class="carousel-caption">
            <h3>Golfbanen</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Golf</h3>
      <p>
        Sunnfjord Golfklubb si golfbane med 9 hol par 70, lengde 4510 m, ligg på Vassenden. Meir informasjon om Sunnfjord Golfklubb finn du på deira eiga heimside: <a target="_blank" href="http://www.sunnfjord-golfklubb.no/">Sunnfjord Golfklubb</a>
      </p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/spring/spring19.jpg" alt="Fjellet">
          <div class="carousel-caption">
            <h3>Fjellet</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring20.jpg" alt="Natursti">
          <div class="carousel-caption">
            <h3>Natursti</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring21.jpg" alt="Toppen av fjellet">
          <div class="carousel-caption">
            <h3>Toppen av fjeller</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring22.jpg" alt="Toppen">
          <div class="carousel-caption">
            <h3>Toppen</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring23.jpg" alt="Jogging i naturen">
          <div class="carousel-caption">
            <h3>Jogging i naturen</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring24.jpg" alt="Natur">
          <div class="carousel-caption">
            <h3>Natur</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring25.jpg" alt="Ville utsikter">
          <div class="carousel-caption">
            <h3>Ville utsikter</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring26.jpg" alt="Fine krabater">
          <div class="carousel-caption">
            <h3>Fine krabater</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Fjell- og Turstier</h3>
      <p>
        Jølster har ein vakker, variert natur frå skogkledde lier til stupbratte fjell med bre på toppen. Jølstravatnet er det naturlege midtpunktet med ei mengd småelvar og vann omkring. I heile kommunen er det merka turløyper. Lokale kart har vi på Jølvassbu og vi hjelper gjerne med den info du treng. På breen må ein ha guide.
      </p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard2">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/spring/spring27.jpg" alt="Sykling ved fjellsiden">
          <div class="carousel-caption">
            <h3>Sykling ved fjellsiden</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring28.jpg" alt="Nydelige sykkelstier">
          <div class="carousel-caption">
            <h3>Nydelige sykkelstier</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/spring/spring29.jpg" alt="sykling ved elven">
          <div class="carousel-caption">
            <h3>Sykling ved elven</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Sykkling</h3>
      <p>
      Sørsida av Jølstravatnet, ca. 20 km frå Vassenden til Skei, er eit roleg område å sykle i. Kombinert med eit besøk på Astruptunet er dette ein flott tur. Jølvassbu har for tida 4 syklar for utleige.( 2 voksne og 2 for barn)
        <h3> Breturer</h3>
        <p> <a href="http://breogfjell.no/" taget="_blank">Breogfjell.no</a> tilbyr blant anna profesjonell guiding på Haugabreen, ein arm av Jostedalsbreen.
</p>
    </md-card-content>
  </md-card>
