<h2>Velkommen til Jølvassbu camping</h2>

<!-- <md-card class="introCard"> -->
  <img class="introImg" src="assets/images/intro-jolvassbu.jpg">
  <!-- <md-card-content> -->
  <h3>Du finner oss på Vassenden ved elva Jølstra</h3>
    <p>
      Om du bare vil nyte ro og fred i naturskjønne omgivelser eller ha en aktiv ferie – hos oss kan du gjøre det meste.
      Vi tilbyr deg 35 sengeplasser fordelt på 5 hytter utstyrt med dyner/puter, kjøleskap/kaffetrakter/vannkoker, kjøkkenutstyr.  TV i 4 av hyttene.
      Plass til telt, campingvogner og bobiler.
      Servicebygget ligger med kort avstand til hyttene der du finner dusj/toalett, vaskerom og kjøkken. I resepsjonen kan du leie/kjøpe fiskeutstyr, fiskekort, turkart o.s.v. Gratis trådløst internett.
      Du kan fiske i Europas beste ørretvassdrag ved hytta eller teltet.
      Du kan leie båter, kajakk eller kano på Jølstravatnet.
      17 merkede turløyper (papirguide) der du kan nyte Jølsternaturen, og du kan sykle, rafte, golfe, osv.
      Du finner bla.  badestrand ved Jølstravatnet, 100m, Coop matsenter 150 m og restaurant på Jølstramuseet 500 m.
    </p>
  <!-- </md-card-content>
</md-card> -->
