<h1 class="caravanHeader">Bobil, Campingvogn, Telt & Lavvo</h1>

<md-card class="carouselCard">
  <md-card-content>
    <carousel [interval]="0" class="carousel">
      <slide>
        <img md-card-image src="assets/images/caravan/caravan1.jpg" alt="Bobil">
        <div class="carousel-caption">
          <h3>Bobil</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/caravan/caravan2.jpg" alt="Telt ved elven">
        <div class="carousel-caption">
          <h3>Telt ved Elven</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/caravan/caravan3.jpg" alt="Telt">
        <div class="carousel-caption">
          <h3>Telt</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/caravan/caravan4.jpg" alt="Buss Parkering">
        <div class="carousel-caption">
          <h3>Buss Parkering</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/caravan/caravan5.jpg" alt="Lavvo">
        <div class="carousel-caption">
          <h3>Lavvo</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/caravan/caravan6.jpg" alt="Bobil ved elven">
        <div class="carousel-caption">
          <h3>Bobil ved elven</h3>
        </div>
      </slide>
    </carousel>
  </md-card-content>
</md-card>

    <md-card class="cabinPrice">
      <md-card-content>
        <p>
          Jølvassbu Camping er tilrettelagt for bubil/campingvogn, telt og har lavvo for utleige. Vi har tilkoblingspunkt for strøm og servicebygg med vann, kjøkken, vaskerom og WC/dusj/ handicapWC/dusj.
          Vi har tømmeanlegg for WC/gråvann inkludert i døgnleien.
        </p>
          <p>Booking:</p>
          <p>+ 47 92 06 22 03</p>
          <p>+ 47 92 22 36 98</p>
          <p>Priser:</p>
          <p>Lite telt: nkr. 120,- 1-2 pers</p>
          <p>Telt/MC: nkr. 160,- 1-2 pers</p>
          <p>Telt/bil: nkr. 200,- 1-2 pers</p>
          <p>Bubil/caravan: nkr. 200,- 1-2 pers</p>
          <p>Straum pr.døgn: nrk.40,-</p>
          <p>Ekstra person: nkr. 30,-</p>
          <p>Åttemanns Venorlavvo m/ ovn: nkr. 290,-/døgn,1-4 pers</p>
      </md-card-content>
    </md-card>
