<h1 class="cabinHeader">Kart</h1>

<div class="imageCards">
  <md-card class="cabinPrice">
    <img md-card-image src="assets/images/map1.gif" alt="Kart">
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3> Google Maps</h3>
      <a href="https://www.google.no/maps/place/J%C3%B8lvassbu+Camping/@61.4934192,6.1077278,15.3z/data=!4m5!3m4!1s0x4616396d120942eb:0xdbe3250e4a71ac!8m2!3d61.4914433!4d6.1128294" target="_blank">Jølvassbu Camping</a>
    </md-card-content>
  </md-card>
</div>
