<h1 class="cabinHeader">Jølster</h1>

<!-- <md-card class="carouselCard">
  <md-card-content> -->
    <!-- <carousel class="carousel">
      <slide>
        <img md-card-image src="assets/images/cabins/hytte1.jpg" alt="Jøla">
        <div class="carousel-caption">
          <h3>Jøla</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/cabins/hytte2.jpg" alt="Persbua">
        <div class="carousel-caption">
          <h3>Persbua</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/cabins/hytte3.jpg" alt="Elvestova">
        <div class="carousel-caption">
          <h3>Elvestova</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/cabins/hytte4.jpg" alt="Stue">
        <div class="carousel-caption">
          <h3>Stue</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/cabins/hytte5.jpg" alt="Stue">
        <div class="carousel-caption">
          <h3>Stue</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/cabins/hytte6.jpg" alt="Kjøkken">
        <div class="carousel-caption">
          <h3>Kjøkken</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/cabins/hytte7.jpg" alt="Stue/soverom">
        <div class="carousel-caption">
          <h3>Stue/Soverom</h3>
        </div>
      </slide>
    </carousel> -->
  <!-- </md-card-content>
</md-card> -->

  <!-- <md-card class="cabinPrice">
    <md-card-content> -->
         <h3>Jøla, Persbua og Elvestova.</h3>
      <p>
         3 like hytter med stove, kjøkkenkrok, kjøleskap, kokemuligheter, nødvendig utstyr og TV. Ligger flott til ved Jølstra. Alle soveromma er utstyrt med familiekøyer, dyner og puter.
         Ikkje innlagt vatn, wc/dusj, sjå infomasjon om seperat servicebygg.
      </p>
        <p> Sengeplasser: 4 (6)</p>
        <p> Soverom: 2</p>
        <p> Pris pr døgn: Kr.650,-</p>
    <!-- </md-card-content>
  </md-card> -->


  <!-- <md-card class="carouselCard">
    <md-card-content> -->
      <!-- <carousel class="carousel">
        <slide>
          <img md-card-image src="assets/images/cabins/hytte8.jpg" alt="Selet">
          <div class="carousel-caption">
            <h3>Selet</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/cabins/hytte9.jpg" alt="Stue">
          <div class="carousel-caption">
            <h3>Stue</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/cabins/hytte10.jpg" alt="Stue/soverom">
          <div class="carousel-caption">
            <h3>Stue/soverom</h3>
          </div>
        </slide>
      </carousel> -->
    <!-- </md-card-content>
  </md-card> -->

  <!-- <md-card class="cabinPrice">
    <md-card-content> -->
      <h3>Selet</h3>
      <p>
        Selet har to rom, det eine med kjøkkenutstyr, kjøleskap og kokemuligheter. Selet har same byggestil som Holsabua, har familiekøye og bondebrisk.
        Ligger flott til ved Jølstra. Ikkje innlagt vatn, wc/dusj, sjå info om seperat servicebygg.
      </p>
        <p> Sengeplasser: 4 (5)</p>
        <p> Soverom: 1 (2)</p>
        <p> Pris pr døgn: Kr.520,-</p>
    <!-- </md-card-content>
  </md-card> -->

  <!-- <md-card class="carouselCard2">
    <md-card-content> -->
      <!-- <carousel class="carousel">
        <slide>
          <img md-card-image src="assets/images/cabins/hytte11.jpg" alt="Holsbua">
          <div class="carousel-caption">
            <h3>Holsbua</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/cabins/hytte12.jpg" alt="Holsbua fra siden">
          <div class="carousel-caption">
            <h3>Holsbua fra siden</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/cabins/hytte13.jpg" alt="Stue">
          <div class="carousel-caption">
            <h3>Stue</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/cabins/hytte14.jpg" alt="Stue">
          <div class="carousel-caption">
            <h3>Stue</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/cabins/hytte15.jpg" alt="Soverom">
          <div class="carousel-caption">
            <h3>Soverom</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/cabins/hytte16.jpg" alt="Soverom 2">
          <div class="carousel-caption">
            <h3>Soverom 2</h3>
          </div>
        </slide>
      </carousel> -->
    <!-- </md-card-content>
  </md-card> -->

  <!-- <md-card class="cabinPrice">
    <md-card-content> -->
         <h3>Holsbua</h3>
      <p>
        Holsabua er frå ca. 1850. Bygd i gamal Vestlandsstil i 2 etasjer med laft innvendig og kledning på reisverk utvendig.
        Opp- gradert i 2008 og 2014. Inndelt i 3 rom og svalgang/entre. Kjøkken /stove m/hybel- konfyr, kjøleskap, salonggruppe og TV. De andre rommene har sengeplassar.
        Hytta kan leiges under ett, eller rommene kan leigast kvar for seg. Ligger fott til ved Jølstra og har terrasse. Ikkje innlagt vatn, wc/dusj, sjå info om seperat servicebygg.
      </p>
        <p> Sengeplasser: 9</p>
        <p> Soverom: 2 (3)</p>
        <p> Etasjar: 2</p>
        <p> Pris:
          Heile hytta: kr. 800,- pr. døgn inntil 6 (7) pers.
          Det er også mogeleg å leige enkeltrom, pris fra kr. 280 til kr. 650,- pr. rom pr. døgn.
          (2 - 4 sengeplasser)</p>
    <!-- </md-card-content>
  </md-card> -->
