<h1 class="caravanHeader">Servicebygg</h1>

<md-card class="carouselCard">
  <md-card-content>
    <carousel [interval]="0" class="carousel">
      <slide>
        <img md-card-image src="assets/images/facilities/facilities1.jpg" alt="Hovedbygg">
        <div class="carousel-caption">
          <h3>Hovedbygg</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/facilities/facilities2.jpg" alt="fin sitteplass">
        <div class="carousel-caption">
          <h3>Fin sitteplass</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/facilities/facilities3.jpg" alt="Fiskestenger til leie">
        <div class="carousel-caption">
          <h3>Fiskestenger til leie</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/facilities/facilities4.jpg" alt="Båter til leie">
        <div class="carousel-caption">
          <h3>Båter til leie</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/facilities/facilities5.jpg" alt="Kjøkken">
        <div class="carousel-caption">
          <h3>Kjøkken</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/facilities/facilities6.jpg" alt="Koselig sittekrok">
        <div class="carousel-caption">
          <h3>Koselig sittekrok</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/facilities/facilities7.jpg" alt="Bad">
        <div class="carousel-caption">
          <h3>Bad</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/facilities/facilities8.jpg" alt="Dusj & toalett">
        <div class="carousel-caption">
          <h3>Dusj & toalett</h3>
        </div>
      </slide>
    </carousel>
  </md-card-content>
</md-card>

    <md-card class="cabinPrice">
      <md-card-content>
        <p>
          Servicebygget inneheld resepsjon og ein liten kiosk der du kan kjøpe fiskekort, brus, iskrem, a.o.

          Du kan leige fiskeutstyr, båt/ kano, og vi har lokale kart/turguider.
          Vi har også for salg noko av det mest vanlege fiskeutstyret for vassdraget.
        </p>
          <p>Priser:</p>
          <p>Båt m/ motor og bensin kr.150,- (200,-) for 1.time,
             deretter kr. 50,- (80,-) pr. time.</p>
          <p>Båt m/ motor og bensin kr. 400,- (600,-) pr. døgn.</p>
          <p>Båt u/motor kr. 100,- (150,-) for 1. time,
             deretter kr. 30,- (50,-) pr. time</p>
          <p>Båt u/motor kr. 200,- (300,-) pr. døgn</p>
          <p>Kano kr. 100,- (150,-) for 1.time,
             deretter kr. 30,- (50,-) pr. time.</p>
          <p>Kano kr. 200,- (300,-) pr. døgn</p>
          <p>Sykkel: Gjester kr 100,- (150,-) inkl hjelm/vest.</p>
          <p>Tall i parantes er for ikke boende.</p>
          <p class="pSpace">Leie av bil kr.380, pr. døgn m/bensin inntil 50 km</p>
          <p>Tømmeanlegg for WC/gråvann kr.50,-</p>
          <p>Ekstra seng/flatseng Nkr. 100,- </p>
          <p>Sengetøy Nkr 90,-/person.</p>
          <p>Gratis trådløst internet.</p>
          <p>Servicebygget inneheld fullt utstyrt kjøkken, vaskerom, WC/dusj, oa.
             Det er også mulig å leige eige bad m/toalett og dusj Nkr.150,-. pr.døgn.</p>
      </md-card-content>
    </md-card>
