<h1 class="cabinHeader">JØLSTER</h1>

<md-card class="carouselCard">
  <md-card-content>
    <carousel [interval]="0" class="carousel">
      <slide>
        <img md-card-image src="assets/images/jolster/jolster1.jpg" alt="Elven">
        <div class="carousel-caption">
          <h3>Elven</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster2.jpg" alt="Nydelig ved vannet">
        <div class="carousel-caption">
          <h3>Nydelig ved Vannet</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster3.jpg" alt="Stille på Vannet">
        <div class="carousel-caption">
          <h3>Stille på Vannet</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster4.jpg" alt="Vannet">
        <div class="carousel-caption">
          <h3>Vannet</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster5.jpg" alt="Båtmuligheter">
        <div class="carousel-caption">
          <h3>Båtmuligheter</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster6.jpg" alt="Båttur">
        <div class="carousel-caption">
          <h3>Båttur</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster7.jpg" alt="Fjellet">
        <div class="carousel-caption">
          <h3>Fjellet</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster8.jpg" alt="Flott fjord">
        <div class="carousel-caption">
          <h3>Flott fjord</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster9.jpg" alt="Fjorden fra båt">
        <div class="carousel-caption">
          <h3>Fjorden fra båt</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/jolster/jolster10.jpg" alt="Eikåsgalleriet">
        <div class="carousel-caption">
          <h3>Eikåsgalleriet</h3>
        </div>
      </slide>
    </carousel>
  </md-card-content>
</md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Brukskunst, Kunst & Museum</h3>
      <p>
         <a href="http://www.sfk.museum.no/nn/node/38" target="_blank">Astruptunet</a> heimen til den kjende kunstnaren Nikolai Astrup, ligg på Sandal på sørsida av Jølstravatnet.
      </p>
        <p> Eikåsgalleriet ligg på Ålhus på norsida av Jølstravatnet.</p>
        <p> <a href="https://jolstramuseet.no/" target="_blank">Jølstramuseet</a> ligg på Vassenden rett over for Jølvassbu på andre sida av elva.</p>
        <p> <a href="https://www.gifts.no/" target="_blank">Audhild Vikens Vevstove</a> har butikk/julehus på Skei.</p>
        <p> <a href="http://www.sunnfjord.museum.no/" target="_blank">Sunnfjord Museum</a> ligg i retning Førde.</p>
        <p> Vi på Jølvassbu vil hjelpe deg med meir informasjon om opningstider og prisar. Ynskjer du å sykle til f.eks Astruptunet så kan du leige sykkel av oss.

          Du finn meir informasjon frå Jølster, Sunnfjord og omegn her: </p>
        <p> <a href="http://www.sognefjord.no/sunnfjord/" target="_blank">Reisemål Sunnfjord</a></p>
    </md-card-content>
  </md-card>
