<h1 class="cabinHeader">Høst</h1>

<md-card class="carouselCard">
  <md-card-content>
    <carousel [interval]="0" class="carousel">
      <slide>
        <img md-card-image src="assets/images/winter/winter1.jpg" alt="Fine høstfarger">
        <div class="carousel-caption">
          <h3>Fine høstfarger</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter2.jpg" alt="Hytter">
        <div class="carousel-caption">
          <h3>Hytter</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter3.jpg" alt="Solnedgangen ved elven">
        <div class="carousel-caption">
          <h3>Solnedgang ved elven</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter4.jpg" alt="Nydelig Solnedgang">
        <div class="carousel-caption">
          <h3>Nydelig solnedgang</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter5.jpg" alt="Flott solnedgang">
        <div class="carousel-caption">
          <h3>Flott solnedgang</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter6.jpg" alt="Fin fangst">
        <div class="carousel-caption">
          <h3>Fin fangst</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter7.jpg" alt="Fangst">
        <div class="carousel-caption">
          <h3>Fangst</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter8.jpg" alt="Stor fisk">
        <div class="carousel-caption">
          <h3>Stor fisk</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter9.jpg" alt="Fisk & utstyr">
        <div class="carousel-caption">
          <h3>Fisk & utstyr</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter10.jpg" alt="Flotte ryper">
        <div class="carousel-caption">
          <h3>Flotte ryper</h3>
        </div>
      </slide>
      <slide>
        <img md-card-image src="assets/images/winter/winter11.jpg" alt="Fugler i snøen">
        <div class="carousel-caption">
          <h3>Fugler i snøen</h3>
        </div>
      </slide>
    </carousel>
  </md-card-content>
</md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Jakt & Fiske</h3>
      <p>
         Om hausten kan fisket vere eventyrleg. Når elvane veks er auren svært bitevillig. Dei små elvane som renn inn i Jølatravatnet er først ute, dei treng mindre nedbør for å bli flaumstore, medan Jølstra gjerne treng eit par dagar for å reagere særleg på nedbøren. Dersom ein er heldig, kan fisket vere fantastisk i 3-4 dager.
      </p>
      <p>Gode jaktmuligheter på rype og hare. Vi har jaktkort for Jølster Kommune.</p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/winter/winter12.jpg" alt="Kantareller">
          <div class="carousel-caption">
            <h3>Kantareller</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/winter/winter13.jpg" alt="Sopplukking">
          <div class="carousel-caption">
            <h3>Sopplukking</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Bær & Sopplukking</h3>
      <p>
        Bær og sopp er ein unytta resurs som står og ventar på deg. Blåbær, tyttebær, krekling, ville bringebær og molter er vanlege bærtypar i denne regionen. Kantarell, piggsopp og steinsopp er også å finne i gangavstand frå Jølvassbu.
      </p>
    </md-card-content>
  </md-card>

  <md-card class="carouselCard2">
    <md-card-content>
      <carousel [interval]="0" class="carousel">
        <slide>
          <img md-card-image src="assets/images/winter/winter14.jpg" alt="Nydelig utsikt">
          <div class="carousel-caption">
            <h3>Nydelig utsikt</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/winter/winter15.jpg" alt="Fine turomgivelser">
          <div class="carousel-caption">
            <h3>Fine turomgivelser</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/winter/winter16.jpg" alt="Tur i fjellet">
          <div class="carousel-caption">
            <h3>Tur i fjellet</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/winter/winter17.jpg" alt="Tur i fjellet">
          <div class="carousel-caption">
            <h3>Tur i fjellet</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/winter/winter18.jpg" alt="Fint område ved eleven">
          <div class="carousel-caption">
            <h3>Fint område ved eleven</h3>
          </div>
        </slide>
        <slide>
          <img md-card-image src="assets/images/winter/winter19.jpg" alt="Store områder">
          <div class="carousel-caption">
            <h3>Store områder</h3>
          </div>
        </slide>
      </carousel>
    </md-card-content>
  </md-card>

    <md-card class="cabinPrice">
      <md-card-content>
        <h3>Vandring</h3>
        <p>
          I september er fargeprakta i fjellet uimotståeleg. Lufta er klar og frisk og sola har kraft nok til å varme ein vandrer ved lunsjbålet. Den nye turguiden i Jølster har 17 turer, frå heilt lette til krevande. Foto der stien er avmerka gjer det lett å orientere seg.
        </p>
      </md-card-content>
    </md-card>

    <h1 class="cabinHeader">Vinter</h1>

    <md-card class="carouselCard">
      <md-card-content>
        <carousel [interval]="0" class="carousel">
          <slide>
            <img md-card-image src="assets/images/winter/winter20.jpg" alt="Campingen om vinteren">
            <div class="carousel-caption">
              <h3>Campingen om vinteren</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter21.jpg" alt="Hyttene om vinteren">
            <div class="carousel-caption">
              <h3>Hyttene om vinteren</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter22.jpg" alt="Hyttene om vinteren">
            <div class="carousel-caption">
              <h3>Hyttene om vinteren</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter23.jpg" alt="Snømåking">
            <div class="carousel-caption">
              <h3>Snømåking</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter24.jpg" alt="Snøfreser">
            <div class="carousel-caption">
              <h3>Snøfreser</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter25.jpg" alt="Idyllisk vinter">
            <div class="carousel-caption">
              <h3>Idyllisk vinter</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter26.jpg" alt="Holsbua om vinteren">
            <div class="carousel-caption">
              <h3>Holsbua om vinteren</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter27.jpg" alt="Turløyper">
            <div class="carousel-caption">
              <h3>Turløyper</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter28.jpg" alt="Skiløype">
            <div class="carousel-caption">
              <h3>Skiløype</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter29.jpg" alt="Tur kos">
            <div class="carousel-caption">
              <h3>Tur kos</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter30.jpg" alt="Fine turløyper">
            <div class="carousel-caption">
              <h3>Fine turløyper</h3>
            </div>
          </slide>
          <slide>
            <img md-card-image src="assets/images/winter/winter31.jpg" alt="Snø på fjellet">
            <div class="carousel-caption">
              <h3>Snø på fjellet</h3>
            </div>
          </slide>
        </carousel>
      </md-card-content>
    </md-card>

      <md-card class="cabinPrice">
        <md-card-content>
             <h3>Langrenn</h3>
          <p>
             <a href="http://www.jolsterskisenter.no/turlyper/" target="_blank">Jølster Skisenter</a> har 20 km preparerte turløyper inn til Gjesdalsdalen og har lysløype for langrenn. Ein kan gå på ski frå Jølvassbu til skiløya/lysløypa, ca. 300m
          </p>
        </md-card-content>
      </md-card>

      <md-card class="carouselCard">
        <md-card-content>
          <carousel [interval]="0" class="carousel">
            <slide>
              <img md-card-image src="assets/images/winter/winter32.jpg" alt="Løype prep">
              <div class="carousel-caption">
                <h3>Løype prep</h3>
              </div>
            </slide>
            <slide>
              <img md-card-image src="assets/images/winter/winter33.jpg" alt="Hyttene om vinteren">
              <div class="carousel-caption">
                <h3>Fine alpin-løyper</h3>
              </div>
            </slide>
            <slide>
              <img md-card-image src="assets/images/winter/winter34.jpg" alt="Løypen">
              <div class="carousel-caption">
                <h3>Løypen</h3>
              </div>
            </slide>
            <slide>
              <img md-card-image src="assets/images/winter/winter35.jpg" alt="Fint prepparert">
              <div class="carousel-caption">
                <h3>Fint prepparert</h3>
              </div>
            </slide>
            <slide>
              <img md-card-image src="assets/images/winter/winter36.jpg" alt="Fine løyper">
              <div class="carousel-caption">
                <h3>Fine løyper</h3>
              </div>
            </slide>
            <slide>
              <img md-card-image src="assets/images/winter/winter37.jpg" alt="Fine løyper">
              <div class="carousel-caption">
                <h3>Fine løyper</h3>
              </div>
            </slide>
          </carousel>
        </md-card-content>
      </md-card>

      <md-card class="cabinPrice">
        <md-card-content>
             <h3>Alpint</h3>
          <p>
             Jølster Skisenter tilbyr alpine løyper som passar alle, frå den heilt ferske nybegynnar til den røynde alpinist som krev tøffe utfordringar. Samla lengde nedfartar er over 4000 m. Ein kan velge mellom 4 heisar, skitrekka Kvamsheisen og Bjørkeliaheisen samt barnetrekket Uglumheisen og familiebakken med Bjørneheisen. Normalt er det mye snø på Vestlandet og ofte flotte off piste - forhold.
          </p>
          <p>Vi har rabatter på heiskort i skisenteret.</p>
          <p>Meir informasjon sjå deira eiga heimeside: <a href="http://www.jolsterskisenter.no/" target="_blank">Jølster Skisenter</a></p>
        </md-card-content>
      </md-card>
